[submodule "includes/Database"]
	path = includes/Database
	url = https://github.com/johnnycharlesw/phpizza-DatabaseHandling.git
[submodule "assets/phpizza-ui-framework"]
	path = assets/phpizza-ui-framework
	url = https://github.com/johnnycharlesw/phpizza-ui-framework
