.btn {
    border:1px solid #ccc;
    border-radius:8px;
    padding:10px 20px;
    background-color:#f8f8f8;
    color:black;
    text-decoration:none;
    font-size:16px;
    user-select: none;
}
.btn:hover {
    background-color:#e8e8e8;
    cursor:pointer;
}

.btn[disabled]{
    background-color: #e5e5e5;
    cursor: not-allowed;
}