div.container {
    width: 100%;
}

body {
    font-family: Inter, Arial, sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
