div.homepage.container {
    text-align:center;
    margin:auto;
}
div.homepage.container > div.search-box {
    vertical-align: middle;
    line-break:strict;
    padding:auto;
    padding-top: 20%;
    display:inline-flex;
}

body {
    font-family: Inter, Arial, sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

div.homepage {
    user-select:none
}